/*home page*/


.hero h3{
  font-size: 3vh;
  margin: auto  auto auto 10%;
  width: 80%;
  color: var(--font-color);

}
.hero h1{
    margin-top: -75%;
    margin-bottom: 7%;
    width: 80%;
    color: var(--main-cyan);
    font-size: 5vh;
    overflow: visible;
    font-weight: bolder;
    
}
.hero button{
    margin-top: 10%;
    margin-left: 10%;
}
.hero{
  margin-bottom: 10%;
  width: 100%;
}

#hero-image{
  width: 100%;
  
}







/*sign up page*/
.sign-up-form{
    background-image: url(./assets/pictures/registration.png);
    background-size: contain;
    background-position: 80%;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 10px rgba(69, 44, 30, 0.3);
    background-color: #FFFFFF;
    flex: auto;
    margin: 1% 20% 1% 20%;
    
     
}
.sign-up-form  h1{
    text-align: left;
    margin-left: 5%;
}

.sign-up-form input,.sign-up-form button,.sign-up-form select{
    margin-left: 5%;
    width: fit-content;
    height: fit-content;
    padding: 1em;
    border-radius: 20px;
    border: 2px solid #0F1332;
}

.sign-up-form select{
  background-color: white;
}


.sign-up-form button{
    margin-bottom: 10%;
}

.sign-in-form{
    background-image: url(./assets/pictures/signin2.png);
    background-position: 90%;
    box-shadow: 0px 5px 10px rgba(69, 44, 30, 0.3);
    background-color: #FFFFFF;
    flex: auto;
    background-repeat: no-repeat;
    text-align: left;
    background-size: contain;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: auto;
    justify-content: center;
    min-height: 700px;
}

.sign-in-form input, h1{
    margin-left: 10%;
    width: 350px;
    height: 50px;
    border-radius: 20px;
}

.sign-in-form button{
    margin-bottom: 5%;
    margin-left: 10%;
    width: 250px;
}


.how-it-works{
    margin: auto auto  auto auto;
    width: 50%;
    border-image: round;
}



/* Animation class */
.carousel {
    width: 100%;
    overflow: hidden;
    height: 100%;
  }
  
  .carousel-items {
    display: flex;
    flex-direction: column;
    margin: auto;
    transition: transform 1s ease;
  }
  
  .carousel-item {
    opacity: 0;
    transition: opacity 1s ease;
  }
  
  .carousel-item.active {
    opacity: 1;
  }
  
  
  .carousel-item img {
    display: flex;
    flex: auto;
    width: 90%;
    max-width: 600px; 
    max-height: 700px;
    height: fit-content; 
    margin: auto;
    border-radius: 25px;
    
    
  }

  .carousel-item h1{
    margin: 100px auto 60px auto;
    display: flex;
    flex-direction: column;
    font-size: 60px;
    width: max-content;
    color: #F26722;
  }
  
  
  .video{
    width: 75%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
  }
  .video h1{
    margin: 70% auto 60px auto;
    display: flex;
    flex-direction: column;
    
    width: max-content;
    color: #F26722;
  }
  