:root {
    --font-color: #0F1332;
    --bg-color: #efefef;
    --navbar-color: white;
    --main-orange: #F26722;
    --main-cyan: #06D3C7;
    --button-sub-color: white;
    --button-shadow: #0F1332;
    font-family: Arial, sans-serif;
}

body {
    color: var(--font-color);
    background-color: var(--bg-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Hide Scrollbar */
body::-webkit-scrollbar {
    display: none;
}

main {
    flex: 1;
    width: 100vw;
    display: flex;
}

h1 {
    color: var(--main-cyan);
}

p {
    color: var(--font-color);
}

/* Navigation bar */
.topNavbar {
    width: 100%;
    height: 5em;
    background-color: var(--navbar-color);
    box-shadow: 0px 5px 10px rgba(69, 44, 30, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbarLeft,
.navbarRight {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 50px;
}

.navbarIcons {
    height: 70%;
    padding: 0 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Left side */
.navbarIcons img {
    height: 100%;
}

/* Right side */
.navbarRight {
    justify-content: flex-end;
}

.navbarRight .navbarIcons i {
    font-size: 2em;
}

/* Center section */
.navbarCenter {
    display: flex;
    gap: 5vw;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navItem {
    color: var(--font-color);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.navItem:hover {
    text-decoration: underline var(--main-orange) 2px;
}

/* Buttons */
button {
    padding: 0.7em 1.2em;
    border-radius: 25px;
    cursor: pointer;
    border: 2px solid var(--main-orange);
    font-weight: bold;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(69, 44, 30, 0.3);
}

/* Button: variation 1 */
.buttonVar1 {
    color: var(--button-sub-color);
    background-color: var(--main-orange);
}

.buttonVar1:hover {
    color: var(--button-sub-color);
    background-color: var(--main-cyan);
    border: 2px solid var(--main-cyan);
}

/* Button: variation 2*/
.buttonVar2 {
    color: var(--main-orange);
    background-color: var(--button-sub-color);
}

.buttonVar2:hover {
    color: var(--button-sub-color);
    background-color: var(--main-orange);
}

/* Footer */
footer {
    padding: 0.3em;
    min-height: 1em;
    background-color: #dedede;
    display: flex;
    margin-top: 10em;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px rgba(69, 44, 30, 0.3);
}

footer p{
    color: black;
}