:root {
    --light-grey: #d3d3d3;
}

main {
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 3em;
    gap: 3em;
    box-sizing: border-box;
}

/* ======================== Main Content - Left Side ======================== */
.leftContent {
    width: 600px;
    flex-grow: 6;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.mainContentBox {
    width: 100%;
    background-color: var(--navbar-color);
    border-radius: 25px;
    overflow: none;
    box-shadow: 5px 5px 10px rgba(69, 44, 30, 0.3);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

/* Restaurant Logo and Name Section */
.restaurantLogoName {
    padding: 1.5em;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restaurantLogoName img {
    width: 10vmin;
    margin: 0 2em 0 0;
}

.restaurantLogoName h1 {
    font-size: 300%;
    line-height: 0;
    color: var(--font-color);
}

.separatorLine {
    border: 2px solid var(--main-orange);
    width: 90%;
    opacity: 1;
}

/* Receipt Section */
.orderSummary {
    width: 100%;
    padding: 1em 2.5em;
    box-sizing: border-box;
}

.orderSummary table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 1.3em;
}

.orderSummary table tr {
    line-height: 3em;
    border-bottom: 1px solid var(--light-grey);
    background-color: var(--bg-color);
}

.orderSummary table th,
.orderSummary table td {
    padding: 0 1em;
}

.orderSummary table th {
    text-align: center;
    color: var(--bg-color);
    background-color: var(--font-color);
}

.orderSummary table td {
    text-align: center;
}

.orderSummary table td:first-child, .orderSummary table th:first-child {
    text-align: left;
}

.orderSummary table td:last-child {
    text-align: right;
}

.orderSummary table .subtotal {
    font-size: 18px;
    font-weight: bold;
    color: var(--bg-color);
    background-color: var(--font-color);
}

.orderSummary table .tax {
    font-size: 12px;
    font-weight: bold;
}

.orderSummary table .total {
    font-size: 24px;
    font-weight: bold;
    color: var(--bg-color);
    background-color: var(--font-color);
}

.editDelete {
    display: flex;
    justify-content: space-around;
}

.editDelete a {
    text-decoration: none;
    color: var(--font-color);
}

.editDelete i {
    font-size: 22px;
    cursor: pointer;
    margin-top: 0.5em;
}

#modifyOrder {
    margin: 2em 0;
}

/* Order Complete Page Left Side */
#orderNumber {
    width: 100%;
    padding: 1em 2.5em;
    box-sizing: border-box;
}

.orderInfo {
    padding: 1em;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-size: 1.5em;
}

.orderInfo h1 {
    color: var(--font-color);
}

#orderNumber h2:last-child {
    margin: 1em;
    text-align: center;
    font-size: 2em;
}

/* ======================== Main Content - Right Side ======================== */
.rightContent {
    width: 400px;
    flex-grow: 4;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 4em;
}

/* Accordion */
.accordion {
    width: 100%;
    border-radius: 25px;
    overflow: none;
    background-color: var(--navbar-color);
    box-shadow: 5px 5px 10px rgba(69, 44, 30, 0.3);
    border: none;
    z-index: 1;
}

.accordion-item {
    background-color: var(--navbar-color);
}

#paymentAccordion .accordion-item:first-child, #paymentAccordion #headingCustomerCheckoutForm  {
    border-radius: 25px 25px 0 0;
    overflow: none;
}

#paymentAccordion .accordion-item:last-child, #paymentAccordion #headingReviewOrder  {
    border-radius: 0 0 25px 25px;
    overflow: none;
}

.accordion-link {
    text-decoration: none;
    color: var(--font-color);
    cursor: pointer;
}

.accordion-header {
    background-color: var(--light-grey);
    font-size: 150%;
    font-weight: bold;
    padding: 0.8em 1em;
}

.accordion-header:hover {
    color: var(--bg-color);
    background-color: var(--font-color);
}

.currentAccordionSection {
    color: var(--bg-color);
    background-color: var(--font-color);
}

/* Accordion Content */
.accordion button {
    width: 40%;
    margin: 2em 0;
}

.accordion form,
.accordion table {
    margin: 1em;
}

.accordion table {
    width: 90%;
    border: 1px solid;
}

.accordion table tr:first-child, .accordion table tr:last-child {
    font-weight: bold;
}

.accordion table tr {
    line-height: 3em;
}

.accordion table td {
    padding: 0 1.8em;
}

/* Forms */
/* Payment Method Radio Form */
#collapseCustomerCheckoutForm i {
    font-size: 24px;
    color: var(--font-color);
}

/* Customer Infromation Form */
#collapseCustomerCheckoutForm label {
    color: var(--font-color);
}

#collapseCustomerCheckoutForm input, #collapseCustomerCheckoutForm input {
    width: 100%;
    border: 1px solid var(--light-grey);
    padding: 0.7em 1em;
    box-sizing: border-box;
    border-radius: 20px;
}

/* Removing arrows form number type input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

fieldset {
    background-color: var(--bg-color);
    padding: 2em;
    border-radius: 25px;
    margin: 1em;
}

fieldset legend {
    font-weight: bold;
}

#paymentRadioSelect {
    display: flex;
    flex-flow: column wrap;
    gap: 1em;
}

#paymentRadioSelect div {
    display: inline;
}

#paymentRadioSelect div input[type=radio] {
    margin: 0 1em;
    padding: 0;
    width: min-content;
}

.requiredAsterisk {
    color: red;
}

.error {
    color: red;
    font-size: 12px;
}

#customerCheckoutFormBody {
    max-height: 60vh;
    overflow-y: scroll;
}

/* Enter Your information Scrollbar */
#customerCheckoutFormBody::-webkit-scrollbar {
    width: 12px;
}

#customerCheckoutFormBody::-webkit-scrollbar-track {
    /* color of the tracking area */
    background: var(--bg-color);
}

#customerCheckoutFormBody::-webkit-scrollbar-thumb {
    background-color: var(--light-grey);
    border-radius: 25px;
    border: 3px solid var(--bg-color);
    background-clip: content-box;
}

/* Order complete page Receipt Summary */
#receiptSummary {
    width: 100%;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgba(69, 44, 30, 0.3);
    background-color: var(--navbar-color);
    padding: 1.5em;
}

/* br */
#receiptSummary span {
    width: 100%;
    display: flex;
    justify-content: center;
}

#receiptSummary ul {
    list-style-type: square;
}

#receiptList {
    max-height: 300px;
    margin: 0 1em;
    padding: 0 1em;
    overflow-y: scroll;
}

/* Receipt Summary Scrollbar */
#receiptList::-webkit-scrollbar {
    width: 12px;
}

#receiptList::-webkit-scrollbar-track {
    /* color of the tracking area */
    background: var(--light-grey);
    border-radius: 25px;
}

#receiptList::-webkit-scrollbar-thumb {
    background-color: var(--bg-color);
    border-radius: 25px;
    border: 3px solid var(--light-grey);
    background-clip: content-box;
}

/* Order Complete Page Buttons*/
.buttonsGroup {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    gap: 1em;
}