:root {
    --font-color: #0F1332;
    --bg-color: #efefef;
    --navbar-color: white;
    --main-orange: #F26722;
    --main-cyan: #06D3C7;
    --button-sub-color: white;
    --button-shadow: #0F1332;
    font-family: Arial, sans-serif;
}

body {
    color: var(--font-color);
    background-color: var(--bg-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Hide Scrollbar */
body::-webkit-scrollbar {
    display: none;
}

main {
    flex: 1;
    width: 100vw;
    display: flex;
}

h1 {
    color: var(--main-cyan);
}

p {
    color: var(--font-color);
}

/* Navigation bar */
.navbar {
    box-shadow: 5px 5px 10px rgba(69, 44, 30, 0.3);
}

.navbar a {
    font-weight: bold;
}

.navbarIcons {
    height: 70%;
    padding: 0 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.navbarIcons i{
    font-size: 3em;
    color: var(--font-color);
}


/*keep this*/
.navItem:hover, .nav-link:hover {
    text-decoration: underline var(--main-orange) 2px;
}

/* Buttons */
button {
    padding: 0.7em 1.2em;
    border-radius: 25px;
    cursor: pointer;
    border: 2px solid var(--main-orange);
    font-weight: bold;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(69, 44, 30, 0.3);
}

/* Button: variation 1 */
.buttonVar1 {
    color: var(--button-sub-color);
    background-color: var(--main-orange);
}

.buttonVar1:hover {
    color: var(--button-sub-color);
    background-color: var(--main-cyan);
    border: 2px solid var(--main-cyan);
}

/* Button: variation 2*/
.buttonVar2 {
    color: var(--main-orange);
    background-color: var(--button-sub-color);
}

.buttonVar2:hover {
    color: var(--button-sub-color);
    background-color: var(--main-orange);
}

/* Footer */
footer {
    padding: 0.3em;
    min-height: 1em;
    background-color: #dedede;
    display: flex;
    margin-top: 10em;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px rgba(69, 44, 30, 0.3);
    
}

footer p{
    color: black;
}