:root {
    --light-grey: #d3d3d3;
}

main {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3em;
    gap: 3em;
    box-sizing: border-box;
}

.mainContentBox {
    width: 100%;
    background-color: var(--navbar-color);
    border-radius: 25px;
    overflow: none;
    box-shadow: 5px 5px 10px rgba(69, 44, 30, 0.3);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

/* Info section */
.profileHeader {
    width: 100%;
    padding: 2em;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

#profilePic {
    height: 10vmax;
}

#profilePic img {
    height: 100%;
    border-radius: 50%;
}

.infoBox {
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.infoLine,
.infoLineHeader {
    display: flex;
    align-items: center;
}

.infoLine i,
.infoLineHeader i {
    font-size: 1.8em;
    color: var(--font-color);
    margin-right: 0.8em;
}

.infoLineHeader h2 {
    margin-right: 5em;
}

.infoLineHeader i {
    color: var(--main-cyan);
    cursor: pointer;
}

.separatorLine {
    border: 2px solid var(--main-orange);
    width: 95%;
    opacity: 1;
}

/* Order History Section */
.orderHistorySection {
    width: 95%;
    display: flex;
    flex-flow: column;
    gap: 2em;
    margin-bottom: 2em;
}

.orderHistory {
    background-color: var(--bg-color);
    border-radius: 25px;
    padding: 0.5em 1.5em;
    display: flex;
    flex-direction: column;
}

/* Order History Table */
.orderHistory table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 1.3em;
}

.orderHistory table tr {
    line-height: 3em;
    border-bottom: 1px solid var(--light-grey);
    background-color: var(--bg-color);
}

.orderHistory table th,
.orderHistory table td {
    padding: 0 1em;
}

.orderHistory table th {
    text-align: left;
    color: var(--bg-color);
    background-color: var(--font-color);
}

.orderHistory table td:nth-child(3),
.orderHistory table th:nth-child(3) {
    text-align: right;
}

.orderHistory table td:nth-child(2),
.orderHistory table th:nth-child(2) {
    text-align: center;
}

.orderHistory table .subtotal {
    font-size: 18px;
    font-weight: bold;
    color: var(--bg-color);
    background-color: var(--font-color);
}

.orderHistory table .tax {
    font-size: 12px;
    font-weight: bold;
}

.orderHistory table .total {
    font-size: 24px;
    font-weight: bold;
    color: var(--bg-color);
    background-color: var(--font-color);
}

/* Order history restaurant info */
.orderHistorySectionInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Order history collapse section*/
.orderHistoryMoreLink {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orderHistoryMoreLink a {
    text-decoration: none;
}

.orderHistoryMoreLink a i {
    font-size: 4em;
    color: var(--main-cyan);
}

.fa-angle-up {
    display: none;
}

.card {
    background-color: var(--navbar-color);
    border-radius: 25px;
}

/* Edit user profile */
.editUserInfo {
    /* height: 60vmin;
    width: 60vmin; */
    border-radius: 25px;
    background-color: var(--navbar-color);
    box-shadow: 5px 5px 10px rgba(69, 44, 30, 0.3);
    padding: 1em 2em;
}

.editUserInfoHeader { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editUserInfoForm label {
    color: var(--font-color);
}

.editUserInfoForm input:not([type=radio]) {
    width: 100%;
    border: 1px solid var(--light-grey);
    padding: 0.7em 1em;
    box-sizing: border-box;
    border-radius: 20px;
}

.formButtons {
    display: flex;
    justify-content: space-around;
}

.formButtons button {
    width: 30%;
}

/* Removing arrows form number type input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

fieldset {
    background-color: var(--bg-color);
    padding: 2em;
    border-radius: 25px;
    margin: 1em;
}

.paymentRadioInput {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
}

.paymentRadioInput i {
    font-size: 2em;
}