:root {
    --font-color: #0F1332;
    --bg-color: #efefef;
    --navbar-color: white;
    --main-orange: #F26722;
    --main-cyan: #06D3C7;
    --button-sub-color: white;
    --button-shadow: #0F1332;
    font-family: Arial, sans-serif;
}

body {
    color: var(--font-color);
    background-color: var(--bg-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Hide Scrollbar */
body::-webkit-scrollbar {
    display: none;
}

main {
    flex: 1;
    width: 100vw;
    display: flex;
}

h1 {
    color: var(--main-cyan);
}

p {
    color: var(--font-color);
}

.container{
    margin-right: auto;
    margin-left: auto;
}
/* Navigation bar */
.topNavbar {
    width: 100%;
    height: 4em;
    background-color: var(--navbar-color);
    box-shadow: 0px 5px 10px rgba(69, 44, 30, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbarLeft,
.navbarRight {
    height: 100%;
    display: flex;
    align-items: center;
}

.navbarIcons {
    height: 70%;
    padding: 0 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

/* Left side */
.navbarIcons img {
    height: 100%;
}

/* Right side */
.navbarRight {
    justify-content: flex-end;
}

.navbarRight .navbarIcons i {
    font-size: 2em;
    color: var(--font-color);
}

/* Center section */
.navbarCenter {
    display: flex;
    gap: 5vw;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navItem {
    color: var(--font-color);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.navItem:hover {
    text-decoration: underline var(--main-orange) 2px;
}

.header h1 {
    font-size: 3em; /* Adjust the size as necessary */
    margin-bottom: 0.5em;
    text-align: center;
    color: var(--main-cyan);
    margin:auto;
    margin-top: 40px;
} 

.main-content {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    max-width: 1200px;
    margin-top: 20px;
    flex-direction: column;
}

.left-column, .right-column {
    display: flex;
    flex-direction: row;
    /* flex-basis: 50%; */
}

.left-column > *, .right-column > * {
    margin-bottom: 20px;
}


h2 {
    font-size: 2em;
    color: var(--font-color);
    margin-bottom: 10px;
    text-align: center;
}

.textContainer {
    background: var(--navbar-color);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.column{
    width: 30%;
}
.ads >img {
    width: 30vw;
    max-width: 350px;

}
.ads{
    padding: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

/* Style for the individual sections */
.challenges, .purposes, .why-choose, .community, .how-it-works {
    padding: 15px;
}

/* Footer */
footer {
    padding: 0.3em;
    min-height: 1em;
    background-color: #dedede;
    display: flex;
    margin-top: 10em;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px rgba(69, 44, 30, 0.3);
}

footer p{
    color: black;
}